---
import Layout from "../layouts/Layout.astro";
import JuiceMenu from "../components/juiceMenu.svelte"
import CustomerReviews from "../components/customerReviewsSection.astro"
---

<Layout title="Welcome to JuiceTopia">
    <section
      class="bg-image text-shadow font-agbalumo text-center"
      style="background-image: url('/intro-bg-image.jpeg');"
    >
      <h1 id="introduction" class="title-text">Welcome to JuiceTopia</h1>
      <h2 class="text-2xl">Your Juice Paradise</h2>
    </section>

    <section>
      <h1 class="title-text text-center mb-14" id="menu">Menu</h1>
  	  <JuiceMenu client:load />
    </section>

	<section>
		<h1 class="title-text ml-5 mb-8" id="reviews">Customer Reviews</h1>
		<CustomerReviews />
	</section>
</Layout>

<style>
  section {
    @apply min-h-[80vh] flex flex-col md:px-4;
  }

  .bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }

  .text-shadow {
    text-shadow: 2px 2px black;
  }
</style>
