---
interface Props {
  title?: string;
}

const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";

import NavBar from "../components/navbar.astro";
import Footer from "../components/footer.astro";

const description = `
Enjoy the freshest and most delicious juices, smoothies,
and bowls, all made with the finest Sri Lankan fruits.
JuiceTopia is your one-stop shop for all things juicy, refreshing, and healthy.
`.trim();
---

<!-- This is the common layout which every page of the project will use --><!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title || "JuiceTopia"}</title>

    <ViewTransitions />
  </head>
  <body>
    <NavBar />

    <main class="min-h-screen">
      <!-- Website content -->
      <slot />
    </main>

    <Footer />

    <style is:global>
      /* Global styles */
      html {
        scroll-behavior: smooth;
      }

      body {
        @apply bg-neutral-900 text-stone-100;
      }

      .title-text {
        @apply text-4xl md:text-5xl lg:text-6xl font-semibold mt-[14vh];
      }

      @font-face {
        /* Custom font */
        font-family: "Agbalumo";
        src: url("/fonts/Agbalumo-Regular.ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
      }
    </style>
  </body>
</html>
