<!-- 'Aboout us' section -->
<p class="text-xl max-w-5xl">
  JuiceTopia is a Sri Lankan juice company that specializes in making fresh,
  delicious, and healthy juices, smoothies, and mocktails. We use only the
  finest Sri Lankan fruits, and we source our ingredients from local farmers
  whenever possible. We are committed to sustainability and we use eco-friendly
  packaging whenever possible. We are also passionate about supporting local
  communities by providing jobs and opportunities to Sri Lankans.
</p>

<ul class="my-6 list-disc sm:text-lg list-inside ml-4 sm:ml-16">
  <li>Email: juice-topia@example.com</li>
  <li>Address: 123, Green Lane, Colombo 7</li>
  <li>Phone: 041 123 4567</li>
</ul>
